<template id="form" name="form">
    <form class="add-new-post">
        <div class="input-field">
            <input type="text" placeholder="Name" />
        </div>
        <div class="input-field">
            <input type="text" placeholder="Message" />
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="File">
            </div>
		</div>
			<div class="center-button">
			<button class="waves-effect waves-light btn">Submit</button>
		</div>
    </form>
</template>



<template name="posts">
	<div class="grid">
		<div class="grid-sizer"></div>
		{{#each postList}}
		<div class="grid-item">
			<img src="{{imageDisplay}}">
			<div id="post-bottom">
			Author: {{this.author}} <br>
			Message: {{this.message}} <br>
			Date Created: {{this.createdAt}}
			{{updateMasonry}}
			</div>
		</div>
		{{/each}}
	</div>
</template>



