.grid-sizer, .grid-item {
	width: 32%;
}

.grid-item img {
	display: block;
	max-width: 100%;
}

.grid-item {
border: 1px solid lightgrey;
margin-bottom: 30px;
font-weight: 400;
}

.center-button {
padding-bottom: 20px;
}

#header {
	font-family: 'Poiret One', cursive;
	text-align: center;
}

#post-bottom {
background-color: rgba(248, 248, 248, 0.62);
padding: 5px;
}